<nav class="fixed top-0 w-full z-50">
    <ul
        class="flex justify-between px-5 py-2 w-full bg-emerald-600 text-emerald-50 items-center shadow shadow-emerald-800">
        <li class="flex items-center gap-2">
            <img src="/favicon.ico" alt="">
            <h1 class="text-xl font-semibold">My Notes</h1>
        </li>
        <li>Welcome, Dwarak</li>
    </ul>
</nav>
<section class="mt-16 flex">
    <nav class="w-3xs min-w-3x sticky top-16 h-[calc(100vh-4rem)] bg-emerald-600 text-emerald-50 py-5">
        <app-side-bar></app-side-bar>
    </nav>
    <main class="p-5">Main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main <br>
        main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main
        <br> main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>Main <br> main <br>
    </main>
</section>